{#
  Navigation is the most complex part of this site. I've used a single template for sections and pages.

  This creates 3 links on any section or page: Previous, Top and Next.

  * Previous: links to a lighter page or the parent section index.
  * Top: links straight to the home page.
  * Next: links into the first child page of a section or the next sibling page within a section. If the current page is the last page in a section, it links to the next section index if any exists.
#}
{% if page %}
  {% set parent = get_section(path=page.ancestors | last) %}
{% else %}
  {% set parent = get_section(path=section.ancestors | last) %}
{% endif %}

{# previous link #}
{% if page.lighter %}
  {% set prev_page = page.lighter %}
{% elif parent %}
  {% set prev_page = parent %}
{% endif %}

{# next link #}
{% if page.heavier %}
  {# next sibling #}
  {% set next_page = page.heavier %}
{% elif section.pages %}
  {# First child page if this page is a section #}
  {% set next_page = section.pages | first %}
{% elif parent.ancestors %}
  {# Find the next section index if any exists #}
  {% set grandparent = get_section(path=parent.ancestors | last) %}
  {% set grandparent_length = grandparent.subsections | length %}
  {% for section_path in grandparent.subsections %}
    {% if parent.path in section_path %}
      {% set next_section = get_section(path=grandparent.subsections | nth(n=loop.index)) %}
      {% if next_section %}
        {% set_global next_page = next_section %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<footer>
  <nav>
    <ul>
      {% if prev_page %}
      <li>
        <a href="{{ prev_page.permalink | safe }}">
          &larr; {{ prev_page.title }}
        </a>
      </li>
      {% endif %}

      <li>
        <a href="{{ get_url(path="@/_index.md") }}">
          Top
        </a>
      </li>

      {% if next_page %}
      <li>
        <a href="{{ next_page.permalink | safe }}">
          {{ next_page.title }} &rarr;
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</footer>
