{#
  Navigation is the most complex part of this site. I've used a single template for sections and pages.

  This creates 3 links on any section or page: Previous, Top and Next.

  * Previous: links to a lighter page or the parent section index.
  * Top: links straight to the home page.
  * Next: links into the first child page of a section or the next sibling page within a section. If the current page is the last page in a section, it links to the next section index if any exists.
#}
{% if page %}
  {% set parent = get_section(path=page.ancestors | last) %}
{% else %}
  {% set parent = get_section(path=section.ancestors | last) %}
{% endif %}

{# previous link #}
{% if page and page.lighter %}
  {% set prev_page = page.lighter %}
{% elif parent %}
  {% set prev_page = parent %}
{% endif %}


<footer>
  <nav>
    <ul>
      <li>
        <a href="{{ prev_page.permalink | safe }}">
          &larr; {{ prev_page.title }}
        </a>
      </li>
      <li>
        <a href="{{ get_url(path="@/_index.md") }}">
          Top
        </a>
      </li>

      {% if page and page.heavier %}
        {# next sibling #}
        {% set next_page = page.heavier %}
        <li>
          <a href="{{ next_page.permalink | safe }}">
            {{ next_page.title }} &rarr;
          </a>
        </li>
        {% elif section and section.pages %}
          {# First child page if this page is a section #}
          {% set next_page = section.pages | first %}
          <li>
            <a href="{{ next_page.permalink | safe }}">
              {{ next_page.title }} &rarr;
            </a>
          </li>
        {% elif parent.ancestors %}
          {# Find the next section index if any exists #}
          {% set grandparent = get_section(path=parent.ancestors | last) %}
          {% set grandparent_length = grandparent.subsections | length %}
          {% for section_path in grandparent.subsections %}
            {% if parent.path in section_path %}
              {% set next_page = get_section(path=grandparent.subsections | nth(n=loop.index)) %}
              {% if next_page %}
                <li>
                  <a href="{{ next_page.permalink | safe }}">
                    {{ next_page.title }} &rarr;
                  </a>
                </li>
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}
      {% endif %}
    </ul>
  </nav>
</footer>
